.Rproj.user
.Rhistory
.RData
.Ruserdata
__pycache__
.venv
site_libs
posts/bicycle/data/Metadaten_Fehldaten_02667_19570901_20231231.html
posts/bicycle/data/Metadaten_Fehldaten_02667_19570901_20231231.txt
posts/bicycle/data/Metadaten_Fehlwerte_02667_19570901_20231231.txt
posts/bicycle/data/Metadaten_Geographie_02667.txt
posts/bicycle/data/Metadaten_Geraete_Bedeckungsgrad_02667.html
posts/bicycle/data/Metadaten_Geraete_Bedeckungsgrad_02667.txt
posts/bicycle/data/Metadaten_Geraete_Lufttemperatur_02667.html
posts/bicycle/data/Metadaten_Geraete_Lufttemperatur_02667.txt
posts/bicycle/data/Metadaten_Geraete_Lufttemperatur_Maximum_02667.html
posts/bicycle/data/Metadaten_Geraete_Lufttemperatur_Maximum_02667.txt
posts/bicycle/data/Metadaten_Geraete_Lufttemperatur_Minimum_02667.html
posts/bicycle/data/Metadaten_Geraete_Lufttemperatur_Minimum_02667.txt
posts/bicycle/data/Metadaten_Geraete_Niederschlagshoehe_02667.html
posts/bicycle/data/Metadaten_Geraete_Niederschlagshoehe_02667.txt
posts/bicycle/data/Metadaten_Geraete_Sonnenscheindauer_02667.html
posts/bicycle/data/Metadaten_Geraete_Sonnenscheindauer_02667.txt
posts/bicycle/data/Metadaten_Parameter_klima_monat_02667.html
posts/bicycle/data/Metadaten_Parameter_klima_monat_02667.txt
posts/bicycle/data/Metadaten_Stationsname_Betreibername_02667.html
posts/bicycle/data/Metadaten_Stationsname_Betreibername_02667.txt
posts/bicycle/data/produkt_klima_monat_19570901_20231231_02667.txt
posts/bicycle/data/weather.zip

/.quarto/
/_site/
/_freeze
/docs
posts/bicycle/.env
# /posts
/docs
*.pkl
/posts/*/*.quarto_ipynb
posts/realtime-bicycles/.env
/_extensions
/docs
/docs
/index_files
